@charset "UTF-8";

.navbar .nav-link {
  font-size: 14px;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.navbar .nav-link.active {
  border-bottom: #fff 2px solid;
}

@media screen and (max-width: 576px) {
  .navbar .nav-link.active {
    border-left: #fff 2px solid;
    border-bottom: none;
  }
}

.carousel-caption {
  bottom: 3rem;
}

.carousel-item {
  height: 32rem;
}

.carousel-item img {
  height: 32rem;
}

.carousel-item .img-container {
  display: flex;
  justify-content: center;
  background-color: lightgray;
}

#corp-desc {
  background: url('/img/bara_mikuru.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}

 /* 色の候補： #3292a6 #2c5743 */
#top-message img {
  margin-top: -50px; }
  
#top-message .card:hover {
  background: #69c099;
  color: #fff; }

#table-info tr:hover {
  background-color: #69c099;
  color: #fff; 
}

/* ハンバーガー クリック時×に変更 開始*/
.navbar-toggler {
  border: none;
  background: transparent;
}

.navbar-toggler span {
  display: block;
  background-color: currentColor;
  height: 2px;
  width: 22px;
  margin: 4px 0;
  transition: 0.4s;
}

.navbar-toggler[aria-expanded="true"] span:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] span:nth-child(2) {
  opacity: 0;
}

.navbar-toggler[aria-expanded="true"] span:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}
/* ハンバーガー 終了*/

/* 検索ボックス 開始 */
#search-results {
  margin-top: 38px;
  max-height: 50vh;
  overflow: auto;
  right: 0;
}
#search-results .dropdown-item {
    display: flex;
    justify-content: space-between;
}
/* 検索ボックス 終了 */
